/* font-family: 'Architects Daughter', cursive;
font-family: 'Roboto', sans-serif; */
.body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #e4e4e4;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

/*container*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* hero */
.hero {
  width: 100%;
  padding-bottom: 20px;
  background: #2c2c2c;
}
.hero__inner {
  position: relative;
  padding-top: 260px;
  padding-bottom: 100px;
}
.hero__tatle {
  font-family: 'Architects Daughter', cursive;
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
  line-height: 1;
  width: 447px;
  height: 136px;
  color: #e4e4e4;
}

.hero__item {
  width: 430px;
  height: 74px;
  color: #e4e4e4;
}

.hero__btn {
  border: 3px solid #fff;
  padding: 10px 30px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  transition: background 0.1s linear, color 0.1s linear;
  border-radius: 6px;
}

.hero__btn:hover {
  background-color: #fff;
  color: green;
}
.hero__ellipse {
  position: absolute;
  right: 0;
  bottom: 10px;

  width: 400px;
  height: 400px;
  border: 55px solid green;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 100px rgba(6, 131, 26, 0.897));
  border-radius: 70%;
}
.hero__smaile {
  position: absolute;
  right: 200px;
  bottom: 0;
  top: 150px;
  color: #fff;
}

/* header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAV */
.nav {
  font-size: 18px;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 80px;
  color: #e4e4e4;
  text-decoration: none;
  transition: color 0.2s linear;
  position: relative;
}

.nav__link:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  opacity: 0;
  background-color: green;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity 0.2s linear;
  margin-top: 5px;
}

.nav__link:hover {
  color: green;
}

.nav__link:hover:after {
  color: green;
  opacity: 1;
}

/* About */

.about {
  width: 100%;
  height: 1447px;
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
}

.about__link {
  display: inline-block;
  vertical-align: top;
  margin: 25px 80px;
}

.about__inner {
  padding-top: 50px;
  position: relative;
  z-index: 1000;
}

.about__tatle {
  font-weight: normal;
  font-size: 48px;
  color: #e4e4e4;
  display: flex;
  font-family: 'Architects Daughter', cursive;
  margin-top: 110px;

  justify-content: center;
}

.about__ellipse1 {
  position: absolute;
  width: 356px;
  height: 356px;
  border: 34px solid #e2a200;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 70px rgba(226, 162, 0, 0.25));
  border-radius: 50%;
  right: 0;
  bottom: 0;
  top: 500px;
  left: 750px;
  z-index: -1;
}

.about__ellipse2 {
  position: absolute;
  width: 592px;
  height: 592px;
  left: 105px;
  top: 760px;
  border: 49px solid #e4e4e4;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25));
  border-radius: 50%;
  z-index: -1;
}

.about__ellipse3 {
  position: absolute;
  width: 356px;
  height: 356px;
  left: 780px;
  top: 900px;
  border: 35px solid green;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 100px rgba(6, 131, 26, 0.897));
  border-radius: 70%;
  z-index: -1;
}

.about__block {
  margin: 0 auto;
  width: 496px;

  background: #2c2c2c;
  border-radius: 14px;
  z-index: 4;
}

.about__text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  padding: 65px;
  color: #ffffff;
}

/* .about__block_foto {
  background-color: #2c2c2c;
  padding: 20px;
  display: inline-block;
  position: absolute;
  bottom: -50px;
  left: 12px;
  border-radius: 5%;
} */

/* .about__foto {
  width: 300px;
  height: 300px;
}

.about__block_foto2 {
  background-color: #2c2c2c;
  padding: 20px;
  display: inline-block;
  position: absolute;
  top: 530px;
  right: -38px;
  border-radius: 5%;
}

.about__foto2 {
  width: 550px;
  height: 700px;
} */

/* portfolio */

.portfolio {
  height: 120vh;
  background: linear-gradient(101.56deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
}

.portfolio__tatle {
  font-family: 'Architects Daughter', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 54px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  color: #ffffff;
}

.portfolio__block {
  padding: 50px;

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  background-color: #2c2c2c;
  box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
  border-radius: 29px;
}
.portfolio__content {
  margin: 0 auto;
  text-align: center;
}

.portfolio__tatle_img {
  font-family: 'Architects Daughter', cursive;
  color: #ffffff;
  margin-bottom: 50px;
}

.portfolio__img {
  display: flex;
  width: 400px;
  height: 300px;
  margin-right: 50px;
}

.portfolio__img:focus > .overlay {
  transform: translateY(0%);
}

.portfolio__text {
  font-family: 'Arodora Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.overlay {
  position: absolute;
  width: 400px;
  height: 100%;
  left: 0;
  top: 0;
  padding: 63px 24px;
  background: rgba(11, 243, 69, 0.5);

  transform: translateY(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-container {
  position: relative;
  /* overflow: hidden; */
}

/* contacts */
.contacts {
  width: 100%;

  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
}

.contacts__inner {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.contacts__unit {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 400px;
}
.contacts__item {
  list-style: none;
  margin-bottom: 18px;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__link {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #e4e4e4;
  text-decoration: none;
  transition: color 0.2s linear;
}

.contacts__link:hover {
  color: green;
}

.contacts__contacts_unit {
  margin: 0;
  padding: 0;
}

.contacts__contacts_item {
  list-style: none;
  margin-bottom: 18px;
}

.contacts__text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #e4e4e4;
}

.contacts__contacts_item_link {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #e4e4e4;
  text-decoration: none;
  transition: color 0.2s linear;
}

.contacts__contacts_item_link:hover {
  color: green;
}
